@charset "utf-8";
/*
！*作者：WU EVA
！*时间:2017/5/7
**/
/*
common css
公共样式
*/
:root {
  //--c: #FF9393;
  --c: #5bc0de;

}
.bg_root{
	background:var(--c);
}
body{
  color:var(--c);
  font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
  height: 100%;
}
ul,li {
  margin: 0;
  padding: 0;
}
.text-nowrap{
    white-space: nowrap;
}
.m-l-10{
  margin-left: 10%;
}
.m-l-20{
  margin-left: 20%;
}
.m-l-30{
  margin-left: 30%;
}
.m-l-40{
  margin-left: 40%;
}
p {
    margin: auto !important;
    /*cursor: pointer;*/
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.btn-link:hover,
.btn-link:focus {
  color: var(--c);
}

.form-control {
    color: var(--c);
  }

@media (max-width:768px){
  .col-xs-12{
    padding-left:0;
    padding-right:0;
  }
}
.checked-G{
  color: var(--c);
}
.header{
  background:#fff url("../img/MSHKLogo.png") no-repeat;
  background-size: 4rem 4rem;
  background-position: 2rem center;
  border-bottom: 1px solid var(--c);
  padding: 1rem 0;
}
.fixheader,.fixBottom{
  position: fixed;
  left:0;
  right:0;
}
.fixheader{
  top:0;
  z-index: 2;
}
.header .input-group{
    background: #fff;
    border-radius: 1rem;
}
.header .input-group .searchIcon{
    background: var(--c);
    border: 1px solid var(--c);
    border-left-width: 0;
    color: #fff;
    top:0;
    padding: 5px 12px;
}
.header .input-group #looKey{
  margin-right: 2rem;
  border: 1px solid var(--c);
  border-right-width: 0;
  outline:none;
  line-height: 2;
  border-radius: 1rem 0 0 1rem;
  text-indent: 2rem;
  width: 100%;
}
.fixBottom{
  /*bottom:0;*/
}
.footer{
	border-top:1px solid var(--c);
  line-height: 1.5;
  text-align: center;
}
.fixBottom .nav{
  height:50px;
  background:rgba(255, 255, 255, 0.79);
}
.fixBottom .nav li{
  height: 100%;
  text-align: center;
  line-height: 1.4;
  font-size: 15px;
  word-spacing: 50px;
  cursor: pointer;
}

.last-p{
  line-height: 2.0;
  word-spacing: 0.8em;
  display: inline-block;
  position: relative;
}

.last-p:before, .last-p:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 52%;
    background: var(--c);      /*宽和高做出来的背景横线*/
    width: 25%;
    height: 2px;
}
.last-p:before{
    left: 8%;        /*调整背景横线的左右距离*/
}
.last-p:after {
    right: 8%;
}
.topBanner
{
    line-height: 40px;
    height: 3em;;
    background-color: #fff;
    display: block;
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 16px;
		border-bottom: 1px solid var(--c);
}
span.glyphicon-chevron-left,a.glyphicon-chevron-left,button.glyphicon-chevron-left
{
    line-height: 3em;
    color: var(--c);
	  text-indent: 1em;
 }
#fun_new,#fun_mood,#fun_pic,#fun_setting{
  overflow: hidden;
}
#myCarousel{
  height: 200px;
}
#myCarousel .my-swipe .mint-swipe-items-wrap .mint-swipe-item img{
  height: 100%;
  width: 100%;
}
.showNew{
  margin: 4.7rem auto;
  overflow:auto;
}
/*
index.html css
主页样式
*/
#fun_new .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-width: 0;
}

#fun_new .list-group-item{
  border-width: 1px 0;
  padding: 0 15px;
}
#fun_new .newlist{
  cursor: pointer;
}
#fun_new .newlist .lead.h3{
  color: var(--c);
  line-height: 50px;
}
#fun_new .newlist .newListLeft{
  padding:20px 0;
  text-align: center;
  background:#fff url("../img/MSHKLogo.jpg")  no-repeat;
  background-position: center center;
  background-size:100% 100%;
  border-color: var(--c);
  border-radius: 20px;
  box-sizing: border-box;
}
#fun_new .newlist .newListLeft::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    /*-1 可以当背景*/
    -webkit-filter: blur(5rem);
    filter: blur(5rem);
    background: url("../img/MSHKLogo.jpg") center top;
    background-size: cover;
    /*平铺*/
    background-attachment: fixed;
    /*位置固定*/
}
/*
pic.html css
图片样式
*/
#fun_pic .showNew  .list-unstyled .thumbnail{
    text-align: center;
    background-image: url(../img/MSHKLogo.jpg);
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center 0.5em;
    margin-bottom: 10px;
    padding-top: 6.5em;
}

/*
mood.html css
心情样式
*/
#fun_mood .showNew .list-group .list-group-item{
	padding: 0;
}
#fun_mood .showNew .list-group .list-group-item .newlist .col-xs-12{
	  color: #fff;
	  background-color: var(--c);
    background-image: url(../img/MSHKLogo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#fun_mood .showNew .list-group .list-group-item .newlist .col-xs-12:hover{
    background-size: 150% 150%;
}
/*
setting.html css
设置样式
*/
#fun_setting .showSetting ul li{
  height: 40px;
  text-indent: 2em;
  line-height: 30px;
  border-bottom: 1px solid var(--c);
}
#fun_setting .showSetting ul li.set_title{
  height: 40px;
  text-indent: 0;
  line-height: 40px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

/*
newdetail css
文字详情页样式
*/
.detailMain{
  /*background: var(--c);*/
}
/*
login css
登录界面样式
*/
.form-horizontal.col-xs-10{
  margin-top:10%;
}
@media (max-width:768px){
  .form-horizontal.col-xs-10{
    margin-left:6%;
  }
}
.submitBtn{
  border-color:var(--c);
}
.submitBtn:hover,
.submitBtn:focus,
.submitBtn.focus {
  background-color: var(--c);
  color: #fff;
}
.checkBtn{
  color:var(--c);
}
.loginIcon{
  background: var(--c);
  color:#fff;
  border-radius: 100%;
  padding: 25px;
  font-size: 40px;
  margin-bottom: 30px;
}
.col-xs-10.has-feedback{
  padding-left: 0;
  padding-right: 0;
}
/*
page-bar css
分页主页样式
*/
.page-bar li {
  list-style: none;
  display: inline-block;
}

.page-bar li:first-child>a {
  margin-left: 0px
}

.page-bar a {
  border: 1px solid #ddd;
  text-decoration: none;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: var(--c);
  cursor: pointer
}

.page-bar a:hover {
  background-color: #eee;
}

.page-bar .active a {
  color: #fff;
  cursor: default;
  background-color: var(--c);
  border-color: var(--c);
}

.page-bar i {
  font-style:normal;
  color: var(--c);
  margin: 0px 4px;
  font-size: 12px;
}
/*
showSetting

*/
